
<h1>Help make this tutorial better</h1>

<p>If you have any editing suggestions for this module, please don't hesitate 
to let me know. You can:</p>
<ul>
<li>Send me an email &rarr; <span id="asdf">jesselawson</span><span id="qwerty"></span><span id="fdsa">protonmail</span><span id="ytrewq"></span><span id="qazxsw">jesse@potofhoney.gov</span></li>
<li>Use <a href="https://forms.gle/r8nnN927BtevXrqs7">this form</a></li>
<li>Create a <a href="https://www.github.com/jesselawson/python-intro-course/issues/new">new issue</a></li>
<li>Clone <a href="https://www.github.com/jesselawson/python-intro-course">this repo</a>, 
  make changes, and submit a pull request</li>
  </ul>

<script language="javascript">
document.getElementById("qwerty").innerHTML = "@";
document.getElementById("ytrewq").innerHTML = ".com";
document.getElementById("qazxsw").innerHTML = "";
</script>

